@model List<Interop.CC.Models.DTO.MessageLogExcelDTO>

    <style type="text/css">
        table, tr, td {
            border: 1px solid gray;
            padding: 5px;
            border-collapse: collapse;
        }

        th {
            border: 2px solid black;
            padding: 5px;
            border-collapse: collapse;
        }
    </style>

    <table class="table-striped">
        <thead style="display: table-row-group">
            <tr id="row1">
                <th>Идентификациски број</th>
                <th>Институција корисник</th>
                <th>Институција провајдер</th>
                <th>Сервис</th>
                <th>Има одговор</th>
                <th>Време на повик</th>
                <th>Време на одговор</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var messageLog in Model)
            {
                <tr>
                    <td>@messageLog.TransactionId</td>
                    <td>@messageLog.Consumer</td>
                    <td>@messageLog.RoutingToken</td>
                    <td>@messageLog.Service</td>
                    <td>@messageLog.HasResponse</td>
                    <td>@messageLog.RequestTimestamp</td>
                    <td>@messageLog.ResponseTimestamp</td>
                </tr>
            }
        </tbody>
    </table>


